race_car_out.avi
race_car_out.mp4
race_car.mp4
opencv_bootcamp_assets_NB6.zip
opencv_bootcamp_assets_NB11.zip
goturn.caffemodel
goturn.prototxt
$race_car_track_x264.mp4
race_car-KCF.mp4
race_car.mp4
opencv_bootcamp_assets_NB13.zip
tf_text_graph_ssd.py
coco_class_labels.txt
Lesson 13/images
Lesson 13/models
opencv_bootcamp_assets_NB14.zip
Milton_Golf_Swing.png
OpenPose_Figure.png
pose_deploy_linevec_faster_4_stages.prototxt
Tiger_Woods_crop.png
Tiger_Woods.png
Lesson 14/model